<article class="prose mx-auto">
  <h1>Demos</h1>

  <p class="lead">What would you like to learn about?</p>

  <ul>
    <li><%= link_to 'Async Instrumentation', async_index_path %></li>
    <li><%= link_to 'APM Logs in Context', apm_logs_in_context_index_path %></li>
    <li><%= link_to 'Installing the Ruby agent', agent_install_index_path %></li>
    <li><%= link_to 'Intro to NRQL', 'https://docs.newrelic.com/docs/query-your-data/nrql-new-relic-query-language/get-started/introduction-nrql-new-relics-query-language/', target: '_blank' %></li>
    <li><%= link_to 'Ruby Custom Instrumentation', 'https://docs.newrelic.com/docs/apm/agents/ruby-agent/api-guides/ruby-custom-instrumentation', target: '_blank' %></li>
  </ul>
</article>
